html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
  font-family: "Inter";
}

*:not(.fa-solid):not(.fa):not(.e-icons) {
    font-family: "Inter";
}

body {
    margin-bottom: 60px;
    background-color: #12161d;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.e-bigger {
    font-size: x-large;
    font-family: 'Roboto', sans-serif;
}

/*BreadCrumb*/
.e-breadcrumb a, .e-breadcrumb a:hover {
    text-decoration: none !important;
    color: inherit !important;
}

/*Button*/ 
.btn:focus, .btn:active {
    outline: none;
    box-shadow: none;
}

/*HyperLink*/
.no-a-decoration, .no-a-decoration:hover {
    text-decoration: none;
    color: inherit;
}

/*Grid*/
.e-grid {
    border: 0;
    border-radius: 5px;
}

/*Radio button group*/
.e-btn-group.custom-rbt-group {
    width: 100%;
}

.e-btn-group.custom-rbt-group .e-btn {
    width: 50%;
}

.custom-rbt-group label.e-btn {
    box-shadow: none !important;
    border: 1px solid #fff;
    background-color: rgb(34 43 51);
    color: #fff;
}

.e-btn-group.custom-rbt-group input:checked + label.e-btn {
    background-color: #fff;
    color: #212b36;
    border: 1px solid #fff;
}

/*WIDGET*/
.widget {
    border-radius: 1rem;
    background-color: #1a222b;
}

.navbar-brand{
    background:black;
    padding:10px 20px;
}
.nav-item{
    margin:0 10px;
    font-size:15px;
}
.nav-item:hover{
    color:red;
}
